.body {
    margin: 20px;
}

.item:hover {
    opacity: 0.8;
    cursor: pointer;
}

.item {
    margin-bottom: 20px;
}
.date {
    font-style: italic;
}
.imgIncard {
    height: 150px;
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 130px;
    width: 160px;
}
.content {
    width: 70%;
}

.separator {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 3px solid black;
  }

.title1 {
    padding: 20px;
    border-bottom: 2px solid black;
}

@media (min-width: 740px) and (max-width: 1023px) {
    .imgIncard {
        right: 50px;
    }
}

@media (max-width: 740px) {
	.imgIncard {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        margin: 5px;
    }
    .content {
        width: 100%;
    }

}