.header {
    color: rebeccapurple;
    background-color: gainsboro;
    height: 100px;
    text-align: center;
    align-items: center;
    line-height: 100px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}



@import url(https://fonts.googleapis.com/css?family=Roboto);

span.s1 {
  position: absolute;
  top: 0;
  font-size: 15rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #3C4447;
}

span.s2 {
  font-weight: 800;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 15rem;
  text-transform: uppercase;
  color: #3C4447;
}


.card {
  position: relative;
  border-radius: 5%;
  height: 880px;
  width: 1300px;
  margin: 200px auto;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

.card2 {
  position: relative;
  border-radius: 5%;
  height: 880px;
  width: 1300px;
  margin: 200px auto;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}


.thumbnail {
  float: left;
  position: relative;
  border-radius: 6%;
  left: -60px;
  top: -80px;
  height: 420px;
  width: 630px;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.thumbnail2 {
  float: right;
  position: relative;
  left: 60px;
  top: 70px;
  height: 420px;
  width: 630px;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  border-radius: 6%;
}

.thumbnail3 {
  float: left;
  position: absolute;
  border-radius: 6%;
  margin-top: 70px;
  margin-left: -60px;
  height: 420px;
  width: 630px;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}


img.left {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ct1_line2 {
  position: absolute;
  margin-top: 100px;
  margin-left: 30px;
  width: 50%;
}


.right {
  margin-left: 610px;
  margin-right: 20px;
}

h1 {
  padding-top: 35px;
  font-size: 2rem;
  font-weight: bold;
  color: #4B4B4B;
}

.author {
  background-color: #9ECAFF;
  height: 30px;
  width: 110px;
  border-radius: 20px;
}

.author > img {
  padding-top: 5px;
  margin-left: 10px;
  float: left;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.separator {
  margin-top: 10px;
  border: 1px solid #C3C3C3;
}

p {
  text-align: justify;
  font-size: 0.95rem;
  line-height: 150%;
  color: #4B4B4B;
}



.fab {
  position: absolute;
  right: 50px;
  bottom: -40px;
  box-sizing: border-box;
  padding-top: 18px;
  background-color: #1875D0;
  width: 80px;
  height: 80px;
  color: white;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
}


@media (min-width: 740px) and (max-width: 1023px) {
    .card {
      width: 95%;
    }
    .card2 {
      width: 95%;
    }
    .thumbnail {
      position: relative;
      float: none;
      left: 5%;
      top: 30px;
      width: 45%;
    }
    .thumbnail2{
      float: right;
      left: 400px;
      position: absolute;
      top: 30px;
      width: 45%;
    }
    .card {
      height: 1200px;
    }
    .ct1_line2{
        margin: 0 30px;
        width: 92%;
    }
    .right {
      margin: 30px;
    }
    .thumbnail3 {
      display: none;
    }
}

@media (max-width: 740px) {
  .card {
    width: 95%;
    border-radius: 0 ;
  }
  .card2 {
    width: 95%;
  }
  .thumbnail {
    position: relative;
    float: none;
    left: 5%;
    top: 30px;
    width: 90%;
  }
  .thumbnail2{
    display: none;
  }
  .card {
    margin-top: 100px;
    height: 1800px;
  }
  .ct1_line2{
      margin: 30px;
     width: 82%;
  }
  .right {
    margin: 30px;
  }
  .thumbnail3 {
    display: none;
  }
  .card2 {
    border-radius: 0 ;
    height: 1000px;
  }
}